*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Noto Serif', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.container{

    display: grid;
    grid-template-columns: repeat(12,1fr);
   
   
}


/* header part starts */


.container .top-header{
    display: flex;
    grid-column: 1/13;
    height: 90px;
    
    background-color: skyblue;
  

}
.container .top-header .top-left-header{
    width: 40%;
    padding: 10px 0px 15px 25px;
   
}
.top-left-header i{
    color: orange;
    margin-right: 10px;
}
.top-left-header span{
    font-size: 2.2rem;
}
.container .top-header .top-right-header{
    
    width: 60%;
    padding: ;
}
.container .top-header .top-right-header nav{
   display: flex;
}


.container .top-header nav ul{
    display: flex;
    list-style: none;
    margin-right: 30px;
    margin: 35px;
   
}
.container .top-header nav ul li a{
    color: black;
    margin-right: 25px ;
}
.container .top-header nav ul li a:hover{
    color: orange;
}
.container .top-header nav button{
  border: none;
  border-radius: 100px;
  background-color:orange ;
  padding: 10px 40px;
  margin: 27px auto;
  font-size: 1rem;
}
.container .top-header nav button:hover{
    color: orange;
    background-color: white;
    cursor: pointer;
    border: 1px solid orange;
}
.container .top-header nav ul li a{
    text-decoration: none;
}

.container .bottom-header{
    grid-column: 1/13;
    height: 500px;
   
}

.bottom-header img{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
   
}

.bottom-header h1{
    color: #c8994b;
    margin-top: 20px;
    margin-left: 5%;
    font-size: 2.6rem;
}

.container>i{
   background-color: orange;
   border-radius: 50%;
   width: 15px;
   padding: 10px;
   margin-left: 500px;

}
/* header part ends */





/* 
main part starts */
.container .top-main{
    grid-column: 1/13;
    height: 600px;
   
}

.top-main .top-main-top h2{
         font-size: 1.8rem;
        margin-top: 95px;
        text-align: center;
    }

.top-main-left{
    width: 50%;
    float: left;
    margin-top: 45px;
}
.top-main-left img{
   margin-left: 40px;
}
.top-main-left span{
    position: absolute;
    top: 1050px;
    left: 40px;
    color: white;
    font-size: 2rem;
    background-color: black;
    width: 400px;
    text-align: center;
    
}
.top-main-left p{
    text-align: center;
    margin: 20px 15px 0px 15px;
}
.top-main-right{
    width: 50%;
    float: right;
    margin-top: 45px;
}
.top-main-right span{
    position: absolute;
    top: 1050px;
    left: 544px;
    color: white;
    font-size: 2rem;
    background-color: black;
    width: 400px;
    text-align: center;
    
}
.top-main-right img{
    margin-left: 40px;
}
.top-main-right p{
    text-align: center;
   margin: 20px 15px 0px 15px;

}








.container .bottom-main{
    grid-column: 1/13;
    height: 800px;
    margin-top: 150px;
}
.bottom-main .bottom-main-top h2{
    text-align: center;
    font-size: 1.8rem;
}
.bottom-main .bottom-main-left{
    width: 50%;
    float: left;
    margin-top: 30px;
}
.bottom-main .bottom-main-left>div{
    margin-top: 60px;
}
.bottom-main .bottom-main-left .one{
    display: flex;
    margin-top: 0px;
    margin-left: 30px;
}



.bottom-main .bottom-main-left .two{
    display: flex;
    margin-left: 30px;
}
.bottom-main .bottom-main-left .three{
    display: flex;
    margin-left: 30px;
}
.bottom-main .bottom-main-left .four{
    display: flex;
    margin-left: 30px;
}
.bottom-main .bottom-main-left .text{
    margin: 15px;
 }
 .bottom-main .bottom-main-left  .text span{
     font-size: 1.4rem;
 }



.bottom-main .bottom-main-right{
    width: 50%;
    float: right;
    margin-top: 30px;
}
.bottom-main .bottom-main-right>div{
    margin-top: 60px;
}
.bottom-main .bottom-main-right .five{
    display: flex;
    margin-top: 0px;
    margin-left: 30px;
}
.bottom-main .bottom-main-right .six{
    display: flex;
    margin-left: 30px;
}
.bottom-main .bottom-main-right .seven{
    display: flex;
    margin-left: 30px;
}
.bottom-main .bottom-main-right .eight{
    display: flex;
    margin-left: 30px;
}

.bottom-main .bottom-main-right .text{
    margin: 15px;
 }
 .bottom-main .bottom-main-right  .text span{
     font-size: 1.4rem;
 }




/* 
main part ends */





/* footer part starts */


.container .top-footer{
    grid-column: 1/13;
    height: 350px;
  
    margin-top: 80px;
}

.container .bottom-footer{
    grid-column: 1/13;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 15px;
    
    
}



.top-footer-top h2{
    text-align: center;
    font-size: 1.8rem;
}

.top-footer-left{
    width: 50%;
    float: left;
    margin-top: 25px;
    /* padding-left: 20px; */
}
.top-footer-left iframe{
    padding-left: 20px;
    /* padding-bottom: 20px; */
    border: none;
}

.top-footer-right{
    width: 50%;
    float: right;
    margin-top: 25px;
  
}
.top-footer-right i{
    margin: 30px;
    color: orange;
}
.top-footer-right i:hover{
    color: black;
    cursor: pointer;
}
.top-footer-right span{
    font-size: 1.2rem;
    position: absolute;
    top: 2470px;
    
}






/* footer part ends */